input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;

}
.upload-button-wrap {
  position: relative;
}

textarea.materialize-textarea{
	height: 12rem;
}

.input-button{
  height: auto;
}
.waves-button-input{
  color: #fff;
  padding: 15px 30px;
}

